[submodule "Learning/TA"]
  path = Learning/TA
  url = git@github.com:AppleBoiy/CMU-TA.git

[submodule "Learning/year1"]
	path = Learning/year1
	url = git@github.com:AppleBoiy/CMU-1st-year.git


[submodule "Project/master-chess"]
	path = Project/master-chess
	url = git@github.com:CSCMU-65s/master-chess.git
[submodule "Learning/year2"]
	path = Learning/year2
	url = git@github.com:AppleBoiy/CMU-2nd-year.git
[submodule "Project/CSCMU-65s/cs-wiki-macOS"]
	path = Project/CSCMU-65s/cs-wiki-macOS
	url = git@github.com:CSCMU-65s/cs-wiki-macOS.git
[submodule "Project/CSCMU-65s/.github"]
	path = Project/CSCMU-65s/.github
	url = git@github.com:CSCMU-65s/.github.git
[submodule "Project/CSCMU-65s/mycos-react-I27"]
	path = Project/CSCMU-65s/mycos-react-I27
	url = git@github.com:CSCMU-65s/react-game-cs-I27.git
[submodule "Project/CSCMU-65s/prerequisite-tree-dagreD3"]
	path = Project/CSCMU-65s/prerequisite-tree-dagreD3
	url = git@github.com:CSCMU-65s/prerequisite-tree-dagreD3.git
[submodule "Project/3F"]
	path = Project/3F
	url = git@github.com:AppleBoiy/For-Fun-Funda-FullSRC.git
