[submodule "learning/TA"]
 	path = learning/TA
	url = git@github.com:AppleBoiy/CMU-TA.git
[submodule "learning/year1"]
	path = learning/year1
	url = git@github.com:AppleBoiy/CMU-1st-year.git
[submodule "learning/year2"]
	path = learning/year2
	url = git@github.com:AppleBoiy/CMU-2nd-year.git
[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:AppleBoiy/dotfiles.git
[submodule "learning/year3"]
	path = learning/year3
	url = git@github.com:AppleBoiy/CMU-3rd-year.git
[submodule "learning/year4"]
	path = learning/year4
  url = git@github.com:AppleBoiy/CMU-4th-year.git

[submodule "majorwork"]
	path = majorwork
	url = git@github.com:AppleBoiy/majorwork.git
